{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["babel-plugin-styled-components"],
    ["@babel/plugin-proposal-class-properties"],
    ["react-native-web"],
    ["module-resolver",
      {
      "root": ["./src"],
      "alias": {
        "react-nami": "../../react-nami/src/index"
      }
    }]
  ],
  "assumptions": {
    "setPublicClassFields": false
  }
}
